<div class="page-header" ng-model="addHeader">
  <h1 ng-if="!editPage">添加产品信息</h1>
  <h1 ng-if="editPage">编辑产品信息</h1>
</div>

<div class="row">
  <div class="col-lg-10">
    <form role="form" name="postForm" novalidate>
      <div class="form-group"
           ng-class="{'has-error':postForm.productName.$invalid && postForm.productName.$touched}">
        <label class="control-label" for="productName">产品名称</label>
        <input name="productName" class="form-control" type="text" placeholder="产品名称"
               ng-model="product.name" ng-minlength="2" ng-maxlength="20" ng-required="true">
        <div class="help-block" ng-messages="postForm.productName.$error"
             ng-if="postForm.productName.$touched">
          <p ng-message="required">产品名称不能为空</p>
          <p ng-message="minlength">产品名最短2位字符</p>
          <p ng-message="maxlength">产品名最长20位字符</p>
        </div>
      </div>

      <div class="form-group">
        <button type="button" ng-click="save()" ng-disabled="postForm.$invalid"
                class="btn btn-primary btn-lg">
          保存
        </button>
        <button type="button" ng-click="cancel()" class="btn btn-default btn-lg">
          取消
        </button>
      </div>
    </form>
  </div>
</div>